<% provide(:title, 'Start lesson') %>
<h1>Start lesson</h1>
<div class="row">
  <%= form_for [@lesson, @result] do |f| %>
    <%= f.hidden_field :word_id, value: @word.id %>
    <div class="span6">
      <h3><%= @word.name %></h3>
    </div>
    <div class="span6">
      <% @answers.each do |answer| %>
        <%= f.radio_button :answer_id, answer.id %>
        <%= answer.content %>
        <br>
      <% end %>
    </div>
    <%= f.submit "Next", class: "btn btn-dx btn-primary" %> 
  <% end %>
</div>