<% provide(:title, 'All words') %> 
<img alt="Rails logo" height = "80" src="/assets/elearning-logo.png" />
<h1>All Categories</h1>
<%= will_paginate%> 
<table class="table table-bordered">
  <thead>
    <tr>
    <th>Category</th>
    <th>Description</th>
    <th>Start Now</th>
    </tr>
  </thead>
  <tbody>
    <%@categories.each do |category|%>
    <tr>
    <td><%= category.name %></td>
    <td><%= category.description%></td>
    <td><%= link_to "Start",new_lesson_path(category_id: category.id),
                  class: "btn btn-large btn-primary" %></td>
    </tr>
    <%end%>
  </tbody>
</table>
<%= will_paginate%>