<header class="navbar navbar-default navbar-fixed-top bs-docs-nav"> 
  <div class="container">
    <nav>
      <ul class="nav nav-justified">
        <% if logged_in? %>
          <li><%= link_to "Home", root_path,class: "btn btn-default" %></li>
          <li><%= link_to "Word List", "#",class: "btn btn-default" %></li>
          <li><%= link_to "Categories", "#",class: "btn btn-default" %></li>
          <li><%= link_to "Lesson", "#",class: "btn btn-default" %></li>
          <li><%= link_to "User Show", "#",class: "btn btn-default" %></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%=current_user.name%> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">                      
              <li><%= link_to "Profile",current_user %></li>
              <li><%= link_to "Setting", edit_user_path(current_user)%></li>
              <li><%= link_to "All Users", users_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>